{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% block title %}
        Frontend
      {% endblock %}
    </title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- favicon -->
    <link href={% static "img/favicon.ico" %} rel="shortcut icon" />

    <!-- Static CSS-->
    <link href={% static "css/style.css" %} rel="stylesheet"/>
    

    <!--Logo-->
    {% comment %} <link href={%static"img/logo.ico"%} rel="shortcut icon" /> {% endcomment %}
    <link href={% static "img/logo.ico" %} rel="shortcut icon">
  </head>

  <body>
    <div class="wrapper">
    <header>
      <!-- navbar-->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="col-sm">
          <a href="#" class="navbar-brand flex-grow-1 text-center text-light" style="margin-left: 30px;">
            {% block left_menu %}
              <i class="fa-solid fa-graduation-cap"></i>&nbsp;&nbsp;Logo
            {% endblock left_menu %}            
          </a>
        </div>
        <!--Button Right Side-->
        <div class="col-sm">
          {% block log %}
          <a href={% url 'backend'  %} class="btn btn-outline-success btn-sm text-light" id="btn-nav">
            Login
          </a>
          {% endblock log %}
        </div>
      </nav>
    </header>

    <!-- block content ROOT-->
    {% block content %}
    
    {% endblock content %}
    </div>
        <!-- Footer -->
        <footer class="bg-dark text-center text-lg-start text-light" id="footer">
          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
              &copy; {% now "Y" %} Copyright:
              <a class="text-light" href="#" style="text-decoration: none;">
                  <span {% block footer %} style="color: greenyellow;" {% endblock %}>www.your-website.com</span>
              </a>
          </div>
      </footer>
  
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
    <!--Jquery-->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <!--static js-->
    <script src={%static "js/script.js"%}></script>
  </body>
</html>
